*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background-color: black;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}
a{
    color: wheat;
    text-decoration: none;
}

p{
    color: white;
    margin: 10px;
}